<!DOCTYPE html>
<html lang="en">
  <title>2K'20</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    .mySlides {
      display: none;
    }
  </style>
  <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a
          class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
          href="javascript:void(0)"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
          ><i class="fa fa-bars"></i
        ></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a
          href="./homework"
          class="w3-bar-item w3-button w3-padding-large w3-hide-small"
          >HOMEWORK</a
        >
        <a href="./logs" 
           class="w3-bar-item w3-button w3-padding-large w3-hide-small"
           >LOGS/EVENTS</a>
      </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div
      id="navDemo"
      class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
      style="margin-top:46px"
    >
      <a
        href="./homework"
        class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()"
        >HOMEWORK</a
      >
      <a
        href="./logs"
        class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()"
        >LOGS/EVENTS</a
      >
    </div>

    <!-- Page content -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <!-- Automatic Slideshow Images -->
      <div class="mySlides w3-display-container w3-center">
        <img
          src="https://cdn.glitch.com/762cebc1-3bd6-4e90-908f-7571135d1863%2Forientation.jpeg?v=1590976257429"
          style="width:100%"
        />
        <div
          class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"
        >
          <h3 class="w3-card w3-black w3-hover-shadow w3-opacity">Y1 Orientation Camp</h3>
        </div>
      </div>
      <div class="mySlides w3-display-container w3-center">
        <img src="https://cdn.glitch.com/762cebc1-3bd6-4e90-908f-7571135d1863%2FImage.jpeg?v=1590976771137" style="width:100%" />
        <div
          class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"
        >
          <h3 class="w3-card w3-black w3-hover-shadow w3-opacity">End of Y1!</h3>

        </div>
      </div>
      <div class="mySlides w3-display-container w3-center">
        <img src="https://cdn.glitch.com/762cebc1-3bd6-4e90-908f-7571135d1863%2Fthumbnail.jpg?v=1590976786489" style="width:100%" />
        <div
          class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"
        >
          <h3 class="w3-card w3-black w3-hover-shadow w3-opacity">CEC Badge Pinning</h3>
        </div>
      </div>
      <div class="mySlides w3-display-container w3-center">
        <img src="https://cdn.glitch.com/762cebc1-3bd6-4e90-908f-7571135d1863%2Fti%20(2).jpg?v=1591188914468" style="width:100%" />
        <div
          class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small"
        >
          <h3 class="w3-card w3-black w3-hover-shadow w3-opacity">1st Day after CB! <b>cringe</b></h3>
        </div>
      </div>

      <!-- The Band Section -->
      <div
        class="w3-container w3-content w3-center w3-padding-64"
        style="max-width:800px"
        id="band"
      >
        <h2 class="w3-wide">2K</h2>
        <!--<p class="w3-opacity"><i></i></p>-->
        <p class="w3-centre">
          2K'20 Official Unofficial Website
        </p>
<!--         <div class="w3-row w3-padding-32">
          <div class="w3-third">
            <p>Name</p>
            <img
              src="/w3images/bandmember.jpg"
              class="w3-round w3-margin-bottom"
              alt="Random Name"
              style="width:60%"
            />
          </div>
          <div class="w3-third">
            <p>Name</p>
            <img
              src="/w3images/bandmember.jpg"
              class="w3-round w3-margin-bottom"
              alt="Random Name"
              style="width:60%"
            />
          </div>
          <div class="w3-third">
            <p>Name</p>
            <img
              src="/w3images/bandmember.jpg"
              class="w3-round"
              alt="Random Name"
              style="width:60%"
            />
          </div> -->
        </div>
      </div>

      <!-- The Tour Section -->
      <div class="w3-black" id="tour">
        <br>
        <div
          class="w3-container w3-content w3-padding-top"
          style="max-width:800px"
        >
          <h2 class="w3-wide w3-center">EXAM/TESTS DATES</h2>
          <p class="w3-opacity w3-center">
            <i>Remember to mug for them!</i>
          </p>
        </div>
        <br>
        <div id="root" class="w3-center w3-content w3-padding w3-container w3-table w3-bordered">
          <p>
            No upcoming tests/exams. Just take a chill pill!
            <br><br>
            <img src="https://cdn.glitch.com/762cebc1-3bd6-4e90-908f-7571135d1863%2Fthumbnails%2F_WordArt_Relax.png?1591190104097" class="w3-padding-24"/>
          </p>
          <button
                  class="w3-button w3-black w3-border w3-border-blue w3-round-large w3-margin-bottom"
                  onclick="document.getElementById('ticketModal').style.display='block'"
                >
                  Add
          </button>
        </div>
        <br>
          

<!--           <ul class="w3-ul w3-border w3-white w3-text-grey">
            <li class="w3-padding">
              September
              <span class="w3-tag w3-red w3-margin-left">Sold out</span>
            </li>
            <li class="w3-padding">
              October <span class="w3-tag w3-red w3-margin-left">Sold out</span>
            </li>
            <li class="w3-padding">
              November <span class="w3-badge w3-right w3-margin-right">3</span>
            </li>
          </ul>

          <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
            <div class="w3-third w3-margin-bottom">
              <img
                src="/w3images/newyork.jpg"
                alt="New York"
                style="width:100%"
                class="w3-hover-opacity"
              />
              <div class="w3-container w3-white">
                <p><b>New York</b></p>
                <p class="w3-opacity">Fri 27 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button
                  class="w3-button w3-black w3-margin-bottom"
                  onclick="document.getElementById('ticketModal').style.display='block'"
                >
                  Buy Tickets
                </button>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img
                src="/w3images/paris.jpg"
                alt="Paris"
                style="width:100%"
                class="w3-hover-opacity"
              />
              <div class="w3-container w3-white">
                <p><b>Paris</b></p>
                <p class="w3-opacity">Sat 28 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button
                  class="w3-button w3-black w3-margin-bottom"
                  onclick="document.getElementById('ticketModal').style.display='block'"
                >
                  Buy Tickets
                </button>
              </div>
            </div>
            <div class="w3-third w3-margin-bottom">
              <img
                src="/w3images/sanfran.jpg"
                alt="San Francisco"
                style="width:100%"
                class="w3-hover-opacity"
              />
              <div class="w3-container w3-white">
                <p><b>San Francisco</b></p>
                <p class="w3-opacity">Sun 29 Nov 2016</p>
                <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                <button
                  class="w3-button w3-black w3-margin-bottom"
                  onclick="document.getElementById('ticketModal').style.display='block'"
                >
                  Buy Tickets
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
 -->
      <!-- Ticket Modal -->
      <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
          <header class="w3-container w3-teal w3-center w3-padding-32">
<!--             <span
              onclick="document.getElementById('ticketModal').style.display='none'"
              class="w3-button w3-teal w3-xlarge w3-display-topright"
              >x</span
            > -->
            <h2 class="w3-wide">
              Add a test/exam <i class="fa fa-pencil w3-margin-right"></i>
            </h2>
          </header>
          <div class="w3-container">
            <p>
              <label
                ><i class="fa fa-shopping-cart"></i> Tickets, $15 per
                person</label
              >
            </p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Subject"
              id="subject"
            />
            <p>
              <label><i class="fa fa-user"></i> Send To</label>
            </p>
            <input
              class="w3-input w3-border"
              type="text"
              placeholder="Date"
              id="date"
            />
            <button
              class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right"
              id="add"
            >
              ADD <i class="fa fa-check"></i>
            </button>
            <button
              class="w3-button w3-red w3-section"
              onclick="document.getElementById('ticketModal').style.display='none'"
            >
              Close <i class="fa fa-remove"></i>
            </button>
<!--             <p class="w3-right">
              Need <a href="#" class="w3-text-blue">help?</a>
            </p> -->
          </div>
        </div>
      </div>

      <!-- The Contact Section -->
<!--       <div
        class="w3-container w3-content w3-padding-64"
        style="max-width:800px"
        id="contact"
      >
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
        <div class="w3-row w3-padding-32">
          <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br />
            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br />
            <i class="fa fa-envelope" style="width:30px"> </i> Email:
            mail@mail.com<br />
          </div>
          <div class="w3-col m6">
            <form action="/action_page.php" target="_blank">
              <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-half">
                  <input
                    class="w3-input w3-border"
                    type="text"
                    placeholder="Name"
                    required
                    name="Name"
                  />
                </div>
                <div class="w3-half">
                  <input
                    class="w3-input w3-border"
                    type="text"
                    placeholder="Email"
                    required
                    name="Email"
                  />
                </div>
              </div>
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Message"
                required
                name="Message"
              />
              <button
                class="w3-button w3-black w3-section w3-right"
                type="submit"
              >
                SEND
              </button>
            </form>
          </div>
        </div>
      </div> -->

      <!-- End Page Content -->
    </div>
<!--     <iframe src="https://www.instagram.com/griffles_gram/?hl=en"></iframe> -->
    <!-- Image of location/map -->
    <img
      src="http://www.ri.edu.sg/images/default-source/banner/our-identity-banner.jpg?sfvrsn=66ab8d6f_0"
      class="w3-image w3-greyscale-min"
      style="width:100%"
    />

    <!-- Footer -->
    <footer
      class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge"
    >
      <!--       <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i> -->
      <p class="w3-medium w3-center">
        2K'20 ©. All rights reserved. <br />
        By kym2006 & WaterFlameV8
      </p>
    </footer>
    <script>
    // Automatic Slideshow - change image every 4 seconds
let myIndex = 0;
carousel();

function carousel() {
  let i;
  let x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {
    myIndex = 1;
  }
  x[myIndex - 1].style.display = "block";
  setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  let x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
let modal = document.getElementById("ticketModal");
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};
    </script>
  </body>
</html>
